<footer>
    <div class="container mt-5">

        <div class="row">
            <div class="col-12">
                <h6 class="footer_title">Snowtricks</h6>
                <ul class="footer_social">
                    <li><i class="fab fa-linkedin-in footer_social_icon linked-in" aria-hidden="true"></i></li>
                    <li><i class="fab fa-facebook-f footer_social_icon facebook" aria-hidden="true"></i></li>
                    <li><i class="fab fa-twitter footer_social_icon twitter" aria-hidden="true"></i></li>
                    <li><i class="fab fa-google-plus-g footer_social_icon google" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer_copyright text-center py-3">
        <p>
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> snowtricks.com</a>
        </p>
    </div>

</footer>